<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Login Form</title>
<!-- Link đến file CSS -->
<link rel="stylesheet" href="css/login.css" />
<!-- Google font -->
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="login-container" role="main">
    <div class="logo" aria-label="Logo Blog">
      <img src="image/Blog-Logo.png" alt="Logo Blog" />
    </div>
    <div class="subtitle" aria-label="Mô tả">Chia sẻ khoảnh khắc cuộc sống</div>
    <form>
      <div class="input-group">
        <input type="text" name="username" placeholder="Tên đăng nhập" aria-label="Tên đăng nhập" />
      </div>
      <div class="input-group">
        <input type="password" name="password" placeholder="Mật khẩu" aria-label="Mật khẩu" />
      </div>
       <div class="input-group">
        <input type="password" name="password" placeholder="Nhập lại mật khẩu" aria-label="Nhập lại mật khẩu" />
      </div>
      <button type="submit" class="btn-login" aria-label="Đăng nhập">Đổi mật khẩu</button>
    </form>
    <div class="register">
      <a href="#" aria-label="Đăng ký">Đăng nhập</a>
    </div>
  </div>
</body>
</html>
