<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Login</title>
<!-- Link đến file CSS -->
<link rel="stylesheet" th:href="@{/css/login.css}">
<!-- Google font -->
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div class="login-container" role="main">
    <div class="logo" aria-label="Logo Blog">
      <img th:src="@{/image/Blog-Logo.png}" alt="Logo Blog" />
    </div>
    <div class="subtitle" aria-label="Mô tả">Chia sẻ khoảnh khắc cuộc sống</div>
     <!-- Hiển thị lỗi nếu có -->
    <div th:if="${error}" style="color: red; text-align: center;">
      <p th:text="${error}"></p>
    </div>
      <form method="post" th:action="@{/blog/login}">
      <div class="input-group">
        <input type="text" name="username" placeholder="Tên đăng nhập" aria-label="Tên đăng nhập" />
      </div>
      <div class="input-group" style="position: relative;">
        <input type="password" id="password" name="password" placeholder="Mật khẩu" aria-label="Mật khẩu" />
		<span onclick="togglePassword('password')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
		  <i class="fa-solid fa-eye"></i>
		</span>
      </div>
      <div class="forgot-password">
        <a href="/blog/change-password" aria-label="Quên mật khẩu">Đổi mật khẩu ?</a>
      </div>
      <button type="submit" class="btn-login" aria-label="Đăng nhập">Đăng nhập</button>
    </form>
    <div class="register">
      <a href="/blog/register" aria-label="Đăng ký">Đăng ký</a>
    </div>
  </div>
  
  <script src="/js/showpass.js"></script>
</body>
</html>
