<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Regiter</title>
<!-- Link đến file CSS -->
<link rel="stylesheet" th:href="@{/css/login.css}">
<!-- Google font -->
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="login-container" role="main">
    <div class="logo" aria-label="Logo Blog">
       <img th:src="@{/image/Blog-Logo.png}" alt="Logo Blog" />
    </div>
    <div class="subtitle" aria-label="Mô tả">Chia sẻ khoảnh khắc cuộc sống</div>
    <form method="post" action="/blog/register">
    
     <div th:if="${error}" style="color: red; text-align: center;">
    <p th:text="${error}"></p>
  </div>
    
  <div class="input-group">
    <input type="text" name="username" placeholder="Tên đăng nhập" required />
  </div>
  <div class="input-group">
    <input type="password" name="password" placeholder="Mật khẩu" required />
  </div>
  <div class="input-group">
    <input type="password" name="confirmPassword" placeholder="Nhập lại mật khẩu" required />
  </div>
  <button type="submit" class="btn-login">Đăng ký</button>
</form>

<div class="register">
  <a href="/blog/login">Đăng nhập</a>
</div>
  </div>
</body>
</html>
